@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* splash screen */

.intro{
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #6c63ff;
    transition: 1s;
}


.logo-header{
    text-align: center;
    position: relative;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    color: white;
}

.spin{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
}

.spin.active{
    bottom: 0;
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.spin-fade{
    bottom: 150px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.logo-fade{
    bottom: 150px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

